fastapi
uvicorn
google-cloud-aiplatform[langchain,reasoningengine]
cloudpickle==3.0.0
pydantic==2.7.4
requests
pydantic-settings
twilio
SpeechRecognition
soundfile
google-cloud-bigquery
google-cloud-storage
langchain-openai
langchain-anthropic
langchain-ollama
langchain-deepseek
ollama
langchain-xai
langchain-google-vertexai
langchain
google-cloud-vision
ruff
redis
python-multipart
google-cloud-firestore
python-dotenv